.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $primary-color;
  background-color: $white;
  outline: 2px solid $primary-color;
  outline-offset: -2px;
  padding: 15px 0;
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary-color;
    transition: 0.5s;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $primary-color;
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 17px;
  }
}
