.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    margin: 75px 50px 53px;
    gap: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    gap: 51px;
    grid-template-columns: 316px 316px 316px;
    max-width: 1050px;
    margin: 119px auto 57px;
  }
}
