.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categories-list__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;

  &--decor {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #46c1ae;
  }
}
