.contacts__wrapper {
  padding-top: 37px;
}

.contacts__top {
  padding: 0 30px;
}

.contacts__title {
  margin: 0 0 15px;
}

.contacts__map-wrapper {
  width: 100%;
  height: 454px;
  margin-bottom: 43px;
}

.contacts__map-iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.contacts__table {
  font-size: 14px;
  line-height: 30px;
  border-collapse: collapse;
  margin: 0 0 50px;
  width: 100%;
}

.contacts__table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contacts__table td {
  border-bottom: none;
  padding: 12px 0;

  &:first-child {
    width: 29%;
  }
}

.contacts__table tr {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 7px;
  }
}

.contacts__write {
  margin: 0 30px 40px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 70px 0 60px;
  }

  .contacts__top {
    padding: 0 50px;
  }

  .contacts__title {
    margin-bottom: 37px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -22px;
      right: 3px;
      width: 47px;
      height: 81px;
      background-image: url("../img/contacts-flag.svg");
    }
  }

  .contacts__table {
    margin-bottom: 35px;
  }

  .contacts__table tbody {
    font-size: 17px;
    line-height: 30px;
    flex-direction: row;
    width: auto;
  }

  .contacts__table tr {
    width: 50%;
  }

  .contacts__table td {
    border: none;
  }

  .contacts__table td:first-child {
    width: 23%;
  }

  .contacts__map-wrapper {
    width: 100%;
    height: 457px;
    margin-bottom: 58px;
  }

  .contacts__write {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    padding: 150px 50px 105px 175px;
    position: relative;
    max-width: 1050px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .contacts__top {
    width: 331px;
    margin: 0;
    padding: 0;
  }

  .contacts__title {
    margin-bottom: 24px;

    &::after {
      right: 0;
      left: -111px;
      top: -15px;
    }
  }

  .contacts__table {
    margin-bottom: 72px;
  }

  .contacts__table tbody {
    flex-direction: column;
  }

  .contacts__table tr {
    width: 100%;
  }

  .contacts__map-wrapper {
    position: absolute;
    right: 0;
    bottom: 105px;
    width: 527px;
    height: 457px;
    margin-bottom: 0;
  }

  .contacts__write {
    margin: 0;
  }
}
