.control {
  position: relative;
  padding-left: 61px;
  display: block;

  &:hover .control__mark {
    border-color: $accent-color;
  }

  &:active .control__mark {
    border-color: rgba($primary-color, 0.3);
  }
}

.control__mark {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 35px;
  height: 35px;
  border: 2px solid $primary-color;
}

.control__input {
  &--checkbox:checked + .control__mark {
    background-image: url("../img/input-checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--radio + .control__mark {
    border-radius: 50%;
  }

  &--radio:checked + .control__mark::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $accent-color;
  }
}

@media (min-width: $tablet-width) {
  .control__mark {
    width: 48px;
    height: 48px;
    left: -17px;
    top: -17px;
  }

  .control__input {
    &--radio:checked + .control__mark::before {
      width: 20px;
      height: 20px;
      top: 14px;
      left: 14px;
    }

    &--checkbox:checked + .control__mark {
      background-size: 32px 22px;
      background-position: 6px 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .control__mark {
    width: 46px;
    height: 46px;
  }

  .control__input {
    &--radio:checked + .control__mark::before {
      width: 20px;
      height: 20px;
      top: 13px;
      left: 13px;
    }
  }
}
