.email-link {
  border-bottom: 1px solid $accent-color;
  color: inherit;
  text-decoration: none;
  padding-bottom: 7px;

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $link-hover-color;
    border-bottom-color: rgba($accent-color, 0.1);
  }
}
