.form {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__title {
  color: #63d1bb;
}

.form__group {
  border: none;
}

.form__list {
  list-style-type: none;
}

.form__add-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
