@media (min-width: $tablet-width) {
  .main-header__wrapper {
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }
}
