.main-footer {
  background: $background-section-color;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.main-footer__logo {
  display: none;
}

.main-footer__social {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $footer-border-color;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.main-footer__copyright {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $secondary-color;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}

.main-footer__copyright-link {
  margin-left: 27px;

  &:hover svg {
    fill: $accent-color;
  }

  &:active svg {
    fill: $accent-color;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    padding: 50px 50px 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    display: block;
    cursor: pointer;
    width: 101px;
    height: 34px;

    &:hover svg {
      fill: $accent-color;
    }

    &:active svg {
      fill: $accent-color;
      opacity: 0.3;
    }
  }

  .main-footer__social {
    width: 142px;

    &::after {
      content: none;
    }
  }

  .main-footer__copyright {
    width: 180px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }
}
