.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-nav__logo {
  align-self: center;
  padding: 20px 0 18px;
}

.main-nav__link {
  font-weight: 700;
  color: $secondary-color;
  background-color: transparent;
  text-decoration: none;
  box-shadow: 0 1px 0 $border-color, inset 0 1px 0 $border-color;
  display: block;
  padding: 30px 0 30px 75px;
  position: relative;

  &:hover {
    color: rgba($secondary-color, 0.6);
  }

  &:active {
    color: rgba($secondary-color, 0.3);
  }
}

.main-nav__link-icon {
  position: absolute;
  top: 32px;
  left: 32px;
  fill: $secondary-color;
  opacity: 0.2;
}

.main-nav__link:hover .main-nav__link-icon {
  fill: $accent-color;
  opacity: 1;
}

.main-nav__link:active .main-nav__link-icon {
  fill: $accent-color;
  opacity: 0.3;
}

.main-nav__text {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  width: 21px;
  height: 21px;
  border: none;
  z-index: 2;
  cursor: pointer;
  display: block;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: $toggle-color;
  display: block;
  box-shadow: 0 6px 0 0 $toggle-color, 0 12px 0 0 $toggle-color;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 29px;
  height: 2px;
  transform: rotate(45deg);
  display: block;
  background-color: $toggle-color;
}

.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 29px;
  height: 2px;
  transform: rotate(135deg);
  display: block;
  background-color: $toggle-color;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: grid;
    grid-template-columns: 17% 33% 50%;
    align-items: center;
  }

  .main-nav__logo {
    padding: 0;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__list {
    &--site {
      grid-column: 1/3;
      order: 3;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -50px;
        height: 100%;
        width: 100vw;
        z-index: -10;
        background-color: $inner-header-bg-color;
        border-top: 1px solid $border-color;
      }
    }

    &--user {
      grid-column: 2/4;
      justify-self: end;
    }
  }

  .main-nav__link {
    padding: 32px 0 31px;
    box-shadow: none;
  }

  .main-nav__text {
    display: block;
    order: 4;
    justify-self: end;
  }

  .main-nav--inner {
    .main-nav__list--site::before {
      background-color: $background-section-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    grid-template-columns: 39% 1fr 42%;
  }

  .main-nav__list {
    &--site {
      order: 1;
      grid-column: 1/2;
      background-color: transparent;

      &::before {
        content: none;
      }
    }

    &--promo {
      order: 4;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: calc((100vw - 1050px) / 2 * -1);
        height: 100%;
        width: 100vw;
        z-index: -10;
        background-color: $inner-header-bg-color;
        border-top: 1px solid $border-color;
      }
    }

    &--user {
      order: 3;
      grid-column: 3/4;
    }
  }

  .main-nav__logo {
    order: 2;
    margin-left: 45px;
    margin-top: 9px;
  }

  .main-nav__text {
    order: 5;
    grid-column: 3/4;
  }

  .main-nav--inner {
    .main-nav__list--promo::before {
      background-color: $background-section-color;
    }
  }
}
