.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.9);
  display: flex;
}

.modal--close {
  display: none;
}

.modal--open {
  display: flex;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.modal__content {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 50;
  width: 100%;
  border: 1px solid $modal-border-color;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

@media (min-width: $tablet-width) {
  .modal__content {
    width: 566px;
  }
}
