.order {
  font-size: 13px;
  line-height: 24px;
}

.order__title {
  background-color: $background-section-color;
}

.order__wrapper {
  padding: 0 30px;
}

.order__text {
  margin: 17px 0 29px;
}

.order__form {
  margin-bottom: 53px;
}

@media (min-width: $tablet-width) {
  .order__form {
    margin-bottom: 51px;
  }

  .order__wrapper {
    padding: 0;
  }

  .order__text {
    font-size: 17px;
    line-height: 30px;
    width: 668px;
    margin: 61px auto 80px;
  }
}

@media (min-width: $desktop-width) {
  .order__form {
    margin-bottom: 51px;
  }

  .order__wrapper {
    max-width: 1150px;
    margin: 0 auto;
  }

  .order__text {
    width: 702px;
    margin: 108px auto 80px;
  }
}
