.production {
  border: 1px solid #ECECEC;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production__title {
  padding-left: 91px;
}
