.reviews {
  line-height: 30px;
}

.reviews__wrapper {
  padding: 30px 30px 38px;
}

.reviews__item {
  margin: 0;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__author-info {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: $secondary-color;
  margin-bottom: 30px;
}

.reviews__author-name {
  font-weight: 700;
}

.reviews__buttons {
  display: flex;
  margin: 28px auto 35px;
}

.reviews__write {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 70px;
  }

  .reviews__wrapper {
    padding: 82px 50px 60px;
    position: relative;
    background-image: url("../img/review-bg-tablet.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-bg-tablet@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    margin-bottom: 38px;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 61px;
  }

  .reviews__author-info {
    display: block;
    width: 284px;
    margin-bottom: 0;
  }

  .reviews__author-name {
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__buttons {
    position: absolute;
    bottom: 67px;
    right: 69px;
    margin: 0;
  }

  .reviews__write {
    position: absolute;
    right: 50px;
    top: 78px;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 50px 70px;
  }

  .reviews__wrapper {
    padding: 80px 0 115px 175px;
    max-width: 1150px;
    background-image: url("../img/review-bg-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-bg-desktop@2x.jpg");
    }
  }

  .reviews__title {
    margin-bottom: 34px;
  }

  .reviews__text {
    margin-bottom: 40px;
  }

  .reviews__author-name {
    font-size: 17px;
  }

  .reviews__write {
    right: 0;
  }

  .reviews__buttons {
    right: 19px;
    bottom: 130px;
  }
}
