.special__wrapper {
  padding: 31px 30px 42px;
}

.special__title {
  margin-bottom: 5px;
}

.special__tag {
  color: $accent-color;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 17px;
}

.special__description {
  margin: 0 0 15px 0;
}

.special__table {
  margin-bottom: 30px;
  width: 100%;
}

.special__image {
  width: 100%;
  height: auto;
  max-width: 320px;
  display: block;
  margin: 0 auto 25px;
}

.special__price {
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  margin: 0 0 25px 0;
}

.special__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .special__wrapper {
    padding: 53px 50px 69px;
  }

  .special__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
    padding-right: 13px;
  }

  .special__tag {
    line-height: 17px;
    align-self: center;
    width: 100px;
    text-align: center;
  }

  .special__main {
    width: 50%;
    padding-right: 42px;
    box-sizing: border-box;
    position: relative;
  }

  .special__description {
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  .special__image {
    position: absolute;
    right: -100%;
    bottom: 0;
    margin: 0;
    max-width: 334px;
  }

  .special__table {
    margin-bottom: 57px;
  }

  .special__price {
    font-size: 20px;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .special__wrapper {
    padding: 132px 0 95px;
    max-width: 1050px;
    margin: 0 auto;
  }

  .special__header {
    justify-content: start;
    margin-bottom: 30px;
  }

  .special__title {
    z-index: 10;
  }

  .special__tag {
    order: -1;
    margin: 0 43px 14px 32px;
  }

  .special__main {
    width: 292px;
    margin-left: 175px;
    padding-right: 0;
  }

  .special__image {
    width: 525px;
    height: 636px;
    right: -200%;
    max-width: none;
  }

  .special__description {
    margin-bottom: 50px;
  }

  .special__table {
    margin-bottom: 110px;
  }
}
