@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
.page {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  background-color: #ffffff;
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
}
.main-nav__list--promo {
  font-size: 15px;
}

.main-nav__link {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:active {
  opacity: 0.3;
}

.title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categories-list__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}
.categories-list__link--decor {
  background-color: #63d1bb;
}
.categories-list__link--toys {
  background-color: #46c1ae;
}

.special__tag {
  color: #63d1bb;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.special__price {
  font-weight: 700;
  font-size: 17px;
}

.table__row {
  border-bottom: 1px solid #ececec;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  padding: 16px 0;
}
.button:hover {
  color: #ffffff;
  background-color: #444444;
}
.button:active {
  color: #ffffff;
  background-color: #444444;
  opacity: 0.3;
}

.features-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.features-list__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding-top: 83px;
}

.reviews {
  line-height: 30px;
}

.reviews__item {
  margin: 0;
}

.reviews__author-info {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: #000000;
}

.reviews__author-name {
  font-weight: 700;
}

.email-link {
  border-bottom: 1px solid #62d1ba;
  color: inherit;
  text-decoration: none;
}

.main-footer__copyright {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog__title {
  background-color: #f1f1f1;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-card__link {
  text-decoration: none;
  color: #000000;
}
.product-card__link:hover {
  opacity: 0.6;
}
.product-card__link:active {
  opacity: 0.3;
}

.product-card__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.product-card__info {
  font-size: 13px;
  line-height: 30px;
}

.product-card__price {
  font-weight: 700;
  color: #000000;
}

.production {
  border: 1px solid #ececec;
  font-size: 13px;
}

.production__title {
  padding-left: 91px;
}

.order {
  font-size: 13px;
  line-height: 24px;
}

.order__title {
  background-color: #f1f1f1;
}

.form {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__title {
  color: #63d1bb;
}

.form__group {
  border: none;
}

.form__list {
  list-style-type: none;
}

.form__add-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */