@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
}

@media (min-width: 1150px) {
  .page__main {
    margin-top: 105px;
  }
}
@media (min-width: 768px) {
  .main-header__wrapper {
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .main-header__wrapper {
    width: 1050px;
  }
}
.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-nav__logo {
  align-self: center;
  padding: 22px 0;
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-nav__list--promo {
  font-size: 15px;
  display: none;
}

.main-nav__link {
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  display: block;
  padding: 30px 0 30px 75px;
}
.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__text {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    flex-direction: row;
  }

  .main-nav__logo {
    padding: 22px 0 20px;
  }

  .main-nav__list {
    flex-direction: row;
  }
  .main-nav__list--site {
    position: absolute;
    bottom: -64px;
  }
  .main-nav__list--site .main-nav__link {
    padding: 20px 0;
    width: 167px;
    font-size: 15px;
    line-height: 24px;
  }
  .main-nav__list--user {
    max-width: 400px;
    margin-left: auto;
  }
  .main-nav__list--user .main-nav__link {
    border-left: 1px solid #ececec;
  }

  .main-nav__link {
    padding: 32px 0 31px;
    box-shadow: none;
  }
  .main-nav__link--search {
    width: 82px;
    height: 100%;
    padding: 0;
  }
  .main-nav__link--search span {
    display: none;
  }
  .main-nav__link--cart {
    padding-left: 53px;
  }

  .main-nav__text {
    display: block;
    position: absolute;
    right: 0;
    bottom: -44px;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    justify-content: space-between;
  }

  .main-nav__list--site {
    position: static;
    order: -1;
    max-width: 410px;
  }
  .main-nav__list--site .main-nav__link {
    padding: 32px 0 31px;
    width: 184px;
    border-left: 1px solid #ececec;
    padding-left: 35px;
  }
  .main-nav__list--site .main-nav__link--catalog {
    padding-left: 0;
    border: none;
  }
  .main-nav__list--promo {
    display: flex;
    max-width: 700px;
    position: absolute;
    bottom: -66px;
    left: 0;
  }
  .main-nav__list--promo .main-nav__item:not(:last-child) {
    margin-right: 35px;
  }
  .main-nav__list--promo .main-nav__link {
    padding: 20px 0;
    width: 184px;
  }
  .main-nav__list--user {
    margin: 0;
    max-width: 320px;
  }
}
.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
}
.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.categories-list__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 24px 160px 31px 30px;
}
.categories-list__link--decor {
  background-color: #63d1bb;
}
.categories-list__link--toys {
  background-color: #56c3b2;
}

@media (min-width: 768px) {
  .categories-list {
    flex-direction: row;
  }

  .categories-list__item {
    width: 50%;
  }

  .categories-list__link {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 167px 34px 36px;
  }
}
@media (min-width: 1150px) {
  .categories-list__link {
    padding: 25px 350px 34px 37px;
  }
}
.inner-header__title {
  display: block;
  width: 260px;
  text-align: center;
  margin: 73px auto 120px auto;
}

@media (min-width: 768px) {
  .inner-header__title {
    margin: 0 auto 372px auto;
    width: 668px;
  }

  .inner-header__wrapper {
    padding: 155px 50px 0;
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .inner-header__title {
    margin: 0 auto 355px auto;
    width: 700px;
  }

  .inner-header__wrapper {
    width: 1050px;
  }
}
.special__wrapper {
  padding: 31px 30px 36px;
}

.special__title {
  margin-bottom: 5px;
}

.special__tag {
  color: #63d1bb;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 17px;
}

.special__description {
  margin: 0 0 28px 0;
}

.special__table {
  margin-bottom: 41px;
  width: 100%;
}

.special__image {
  margin-bottom: 25px;
}

.special__price {
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  margin: 0 0 25px 0;
}

.special__button {
  width: 100%;
}

@media (min-width: 768px) {
  .special__wrapper {
    padding: 40px 50px 52px;
    width: 668px;
    margin: 0 auto;
  }

  .special__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .special__tag {
    align-self: center;
    width: 100px;
    text-align: center;
  }

  .special__main {
    width: 292px;
    position: relative;
  }

  .special__description {
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }

  .special__image {
    width: 334px;
    height: 404px;
    outline: 3px solid #ff0000;
    position: absolute;
    right: -378px;
    bottom: 0;
    margin: 0;
  }

  .special__table {
    margin-bottom: 57px;
  }

  .special__price {
    font-size: 20px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1150px) {
  .special__wrapper {
    padding: 115px 50px 73px;
    width: 1050px;
  }

  .special__header {
    flex-direction: row-reverse;
    justify-content: start;
  }

  .special__tag {
    margin-right: 43px;
  }

  .special__main {
    margin-left: 175px;
  }

  .special__image {
    width: 525px;
    height: 636px;
    right: -585px;
  }

  .special__description {
    margin-bottom: 60px;
  }

  .special__table {
    margin-bottom: 110px;
  }
}
.table {
  line-height: 20px;
  border-collapse: collapse;
}

.table__row td {
  border-bottom: 1px solid #ececec;
  padding: 12px 0;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  padding: 16px 0;
  display: block;
}
.button:hover {
  color: #ffffff;
  background-color: #444444;
}
.button:active {
  color: #ffffff;
  background-color: #444444;
  opacity: 0.3;
}

.features__wrapper {
  padding: 30px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  padding-top: 85px;
}

@media (min-width: 768px) {
  .features__wrapper {
    padding: 55px 50px 83px;
    width: 668px;
    margin: 0 auto;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 70px;
  }

  .features__item {
    padding-top: 110px;
  }
  .features__item--price {
    grid-row: 2/3;
  }
  .features__item--likes {
    grid-row: 3/4;
  }
}
@media (min-width: 1150px) {
  .features__wrapper {
    padding: 70px 250px 90px 175px;
    width: 1050px;
    box-sizing: border-box;
  }
}
.reviews {
  line-height: 30px;
}

.reviews__wrapper {
  padding: 30px;
}

.reviews__item {
  margin: 0;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
}

.reviews__author-info {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: #000000;
  margin-bottom: 30px;
}

.reviews__author-name {
  font-weight: 700;
}

.reviews__write {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .reviews {
    padding-bottom: 70px;
  }

  .reviews__wrapper {
    padding: 82px 50px 50px;
    position: relative;
    width: 668px;
    margin: 0 auto;
  }

  .reviews__title {
    margin-bottom: 38px;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 61px;
  }

  .reviews__author-info {
    display: block;
    width: 284px;
    margin-bottom: 0;
  }

  .reviews__buttons {
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  .reviews__write {
    position: absolute;
    right: 50px;
    top: 82px;
    width: 175px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    padding: 0 50px 70px;
  }

  .reviews__wrapper {
    padding: 80px 0 100px 175px;
    width: 1050px;
    box-sizing: border-box;
  }

  .reviews__write {
    right: 0;
  }

  .reviews__buttons {
    bottom: 100px;
  }
}
.contacts__wrapper {
  padding: 40px 0;
}

.contacts__title {
  margin: 0 0 30px 30px;
}

.contacts__map-wrapper {
  width: 320px;
  height: 450px;
  margin-bottom: 40px;
}

.contacts__map-iframe {
  border: none;
  outline: 3px solid #ff0000;
  width: 100%;
  height: 100%;
}

.contacts__table {
  line-height: 20px;
  border-collapse: collapse;
  margin: 0 30px 60px;
}

.contacts__table tbody {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.contacts__table td {
  border-bottom: 1px solid #ececec;
  padding: 12px 0;
}

.contacts__table tr {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 70px 0 60px;
    width: 768px;
    margin: 0 auto;
  }

  .contacts__title {
    margin: 0 0 50px 50px;
  }

  .contacts__table {
    margin: 0 50px 50px;
  }

  .contacts__table tbody {
    font-size: 17px;
    line-height: 30px;
    flex-direction: row;
  }

  .contacts__table tr {
    min-width: 315px;
  }

  .contacts__table td {
    border: none;
  }

  .contacts__table tr:not(:last-child) {
    margin-right: 25px;
  }

  .contacts__table td:first-child {
    width: 82px;
  }

  .contacts__map-wrapper {
    width: 768px;
    height: 457px;
    margin-bottom: 50px;
  }

  .contacts__write {
    width: 230px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    padding: 150px 0 105px 175px;
    position: relative;
    width: 1050px;
    box-sizing: border-box;
  }

  .contacts__title {
    margin-left: 0;
  }

  .contacts__table {
    margin-left: 0;
  }

  .contacts__table tbody {
    flex-direction: column;
  }

  .contacts__map-wrapper {
    position: absolute;
    right: 0;
    bottom: 105px;
    width: 527px;
    height: 457px;
    margin-bottom: 0;
  }

  .contacts__map {
    position: absolute;
    left: 575px;
    bottom: 105px;
    width: 527px;
    height: 457px;
    margin-bottom: 0;
  }

  .contacts__write {
    margin: 0;
  }
}
.email-link {
  border-bottom: 1px solid #63d1bb;
  color: inherit;
  text-decoration: none;
}
.email-link:hover {
  color: #46c1ae;
}
.email-link:active {
  color: #46c1ae;
}

.main-footer {
  background: #f1f1f1;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.main-footer__logo {
  display: none;
}

.main-footer__copyright {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 50px 50px 60px;
    width: 668px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    display: block;
    width: 101px;
    height: 34px;
    outline: 3px solid #ff0000;
  }

  .main-footer__social {
    width: 142px;
  }

  .main-footer__copyright {
    width: 180px;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .main-footer__wrapper {
    width: 1050px;
  }
}
.social-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.social-list__item {
  width: 30px;
  height: 20px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .social-list {
    padding: 0;
  }
}
.catalog__title {
  background-color: #f1f1f1;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-card__link {
  text-decoration: none;
  color: #000000;
}
.product-card__link:hover {
  opacity: 0.6;
}
.product-card__link:active {
  opacity: 0.3;
}

.product-card__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.product-card__info {
  font-size: 13px;
  line-height: 30px;
}

.product-card__price {
  font-weight: 700;
  color: #000000;
}

.production {
  border: 1px solid #ececec;
  font-size: 13px;
}

.production__title {
  padding-left: 91px;
}

.order {
  font-size: 13px;
  line-height: 24px;
}

.order__title {
  background-color: #f1f1f1;
}

.form {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__title {
  color: #63d1bb;
}

.form__group {
  border: none;
}

.form__list {
  list-style-type: none;
}

.form__add-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.slider__item {
  display: none;
}

.slider__item--current {
  display: block;
}

.slider__button {
  width: 128px;
  padding: 0;
  height: 52px;
  border: 1px solid #ececec;
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */